@keyframes fadeUpProjects {
    from {
        transform: translateX(-50%) translateY(-50px);
    }
    to {
        transform: translateX(-50%) translateY(0);
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    flex-direction: space-between;
    padding: 0 130px;
    background-color: #0D72FE;
    z-index: 1000;
    align-items: center;
}

.header svg {
    height: 25px;
    width: 116px;
}

.header > .projects-switch {
    position: absolute;
    left: 50%;
    animation: fadeUpProjects 0.2s ease-in-out 0.1s both;
}

.navigation {
    width: 100%;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 10px;
    width: 100%;
}

.navigation ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 6px 8px;
    border-radius: 5px;
    background-color: transparent;
    font-family: 'Gilroy';
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    transition: .3s ease-in-out;
    user-select: none;
}

.navigation ul li a:hover {
    cursor: pointer;
    background-color: #2A7EFE;
}
