* {
    padding: 0;
    margin: 0;
}

.start {
    width: 100vw;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: #0D72FE;
}

.header {
    display: flex;
    flex-direction: space-between;
    padding: 0 130px;
    width: 100%;
}

.header svg {
    height: 25px;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.navigation ul li {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 6px 8px;
}